<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View Account</title>
  </head>
  <body>
    <h1>View Account</h1>
    <%= name.name %>
  </body>
</html>
