<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta
      name="Description"
      content="Planet Pizza Pizzeria - MongoDB, Mongoose, Express and Node App"
    />

    <script src="/scripts/jquery-3.4.1.min.js"></script>
    <script src="/scripts/app.js" defer></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <script src="/scripts/popper.min.js"></script>

    <link rel="stylesheet" href="/styles/app.css" />

    <title>Planet Pizza - Pizzeria</title>
  </head>
  <body></body>
</html>
