<%- include("partials/header.ejs") %>
<!-- Main -->
<div class="main">
  <div class="container mt-5">
    <div class="row">
      <div class="row row-cols-1 row-cols-md-1">
        <div class="col mb-12 mt-3">
          <h3 class="text-capitalize font-weight-lighter">
            <% if(user) { %> Greetings, <span class="text-white"> <%= user.username %></span> <% } else { %>
            Welcome to Planet Pizza! <% } %>
          </h3>
          <div class="row mb-1">
            <div class="col-md-6 px-md-4">
              <div
                class="row no-gutters overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-danger">SPECIAL</strong>
                  <h4 class="mb-2">Hawaiian</h4>
                  <div class="col-auto d-none d-lg-block mb-3">
                    <img
                      class="img-fluid img-thumbnail"
                      src="/images/hawaiian-pizza.jpg"
                      alt=""
                      srcset=""
                      />
                  </div>
                  <div class="mb-1 text-white">Tropical</div>
                  <p class="card-text mb-3">
                    Deep crust sausage white garlic extra cheese bacon white pizza bbq sauce black olives sauteed onions.
                  </p>
                  <% if(user) { %>
                  <a
                    href="/orders/new"
                    type="button"
                    class="btn btn-danger btn-lg"
                    >Launch Order </a>
                  <% } else { %>
                  <a href="/login" type="button" class="btn btn-danger btn-lg">Launch Order </a> </a>
                  <% } %>
                </div>
              </div>
            </div>
            <div class="col-md-6 px-md-4">
              <div
                class="row no-gutters overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-danger">SPECIAL</strong
                    >
                  <h4 class="mb-2">Pepperoni</h4>
                  <div class="col-auto d-none d-lg-block mb-3">
                    <img
                      class="img-fluid img-thumbnail"
                      src="../images/pepperoni-pizza.jpg"
                      alt=""
                      srcset=""
                      />
                  </div>
                  <div class="mb-1 text-white">Classic</div>
                  <p class="card-text mb-3">
                    Sauteed onions lasagna string cheese, hawaiian sausage onions sausage thin crust.
                  </p>
                  <% if(user) { %>
                  <a
                    href="/orders/new"
                    type="button"
                    class="btn btn-danger btn-lg">Launch Order</a>
                  <% } else { %>
                  <a href="/login" type="button" class="btn btn-danger btn-lg">Launch Order </a>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
                    <div class="row mb-1">
            <div class="col-md-6 px-md-4">
              <div
                class="row no-gutters overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-danger">SPECIAL</strong>
                  <h4 class="mb-2">Meat Lover's</h4>
                  <div class="col-auto d-none d-lg-block mb-3">
                    <img
                      class="img-fluid img-thumbnail"
                      src="../images/meat-lovers-pizza.jpg"
                      alt=""
                      srcset=""
                      />
                  </div>
                  <div class="mb-1 text-white">Protein</div>
                  <p class="card-text mb-3">
                    Deep crust sausage white garlic extra cheese bacon white pizza bbq sauce black olives sauteed onions.
                  </p>
                  <% if(user) { %>
                  <a
                    href="/orders/new"
                    type="button"
                    class="btn btn-danger btn-lg"
                    >Launch Order </a>
                  <% } else { %>
                  <a href="/login" type="button" class="btn btn-danger btn-lg">Launch Order </a> </a>
                  <% } %>
                </div>
              </div>
            </div>
            <div class="col-md-6 px-md-4">
              <div
                class="row no-gutters overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-danger">SPECIAL</strong
                    >
                  <h4 class="mb-2">Cheese Pizza</h4>
                  <div class="col-auto d-none d-lg-block mb-3">
                    <img
                      class="img-fluid img-thumbnail"
                      src="../images/cheese-pizza.jpg"
                      alt=""
                      srcset=""
                      />
                  </div>
                  <div class="mb-1 text-white">Delicious</div>
                  <p class="card-text mb-3">
                    Sauteed onions lasagna string cheese, hawaiian sausage onions sausage thin crust.
                  </p>
                  <% if(user) { %>
                  <a
                    href="/orders/new"
                    type="button"
                    class="btn btn-danger btn-lg">Launch Order</a>
                  <% } else { %>
                  <a href="/login" type="button" class="btn btn-danger btn-lg">Launch Order </a>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END Main -->
<%- include("partials/footer.ejs") %>