<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Order</title>
  </head>
  <body>
    <nav>
      <h1>Welcome to Blog App</h1>
      <ul>
        <li>
          <a href="/authors">Authors</a>
        </li>
        <li>
          <a href="/orders">Orders</a>
        </li>
        <li>
          <a href="/orders/new">Add an Order</a>
        </li>
      </ul>
    </nav>
    <main>
      <h2>Edit <%= order.name %></h2>
      <form action="/orders/<%= order._id %>?_method=PUT" method="POST">
        <p>
          <input
            type="text"
            name="title"
            placeholder="Title"
            value="<%= order.title %>"
          />
        </p>
        <p>
          <textarea type="text" name="body" placeholder="Body">
<%= order.body %></textarea
          >
        </p>
        <input type="submit" value="Update Order" />
      </form>
    </main>
  </body>
</html>
