@import url("https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;500;600;700;800&display=swap");

body {
  background-image: url("../images/stars-bg.gif");
  background-attachment: scroll;

  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Baloo Tammudu 2", cursive;
}

a {
  color: #bb3628;
  text-decoration: none;
}

nav a:hover {
  color: #eeb51c !important;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #eeb51c;
  background-color: #222222;
}

.bg-dark {
  background-color: #222 !important;
}

.logo {
  max-width: 250px;
}

.btn-danger,
.btn-outline-danger:hover {
  background: #bb3628;
  text: white;
}

a:hover {
  color: #8e2117 !important;
}

.btn {
  padding: 0.375rem 0.75rem;
}

.btn-danger:hover {
  color: #fff !important;
  background-color: #8e2117 !important;
  border-color: #8e2117 !important;
}

.btn-outline-danger {
  color: #bb3628;
  border: #bb3628 solid 1px;
}

.btn-group-sm > .btn,
.btn-sm {
  padding: 0.35rem 0.5rem;
}

.fa,
.fas {
  font-weight: 900;
  top: 0.1rem;
  position: relative;
}

.form-control {
  padding: 0.375rem 0.75rem;
}

select#toppingsMeat,
select#toppingsVeggie {
  height: 200px;
  background: rgb(46, 46, 46);
  color: rgb(228, 228, 220); 
}

