@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;500;600;700;800&display=swap');

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Baloo Tammudu 2', cursive;
}

a {
    color: #bb3628;
    text-decoration: none;
}

nav a:hover {
    color: #eeb51c !important;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #eeb51c;
    background-color: #222222;
}

.bg-dark {
    background-color: #222 !important;
}

.logo {
    max-width: 250px;
}

.btn-danger, .btn-outline-danger:hover {
    background: #bb3628;
}

a:hover {
    color: #8e2117 !important;
}

.btn {
    padding: .375rem .75rem;
}

.btn-danger:hover {
    color: #fff !important;
    background-color: #8e2117 !important;
    border-color: #8e2117 !important;
}

.btn-outline-danger {
    color: #bb3628;
    border: #bb3628 solid 1px;
}

.btn-group-sm>.btn, .btn-sm {
    padding: .35rem .5rem;
}

.fa, .fas {
    font-weight: 900;
    top: 0.1rem;
    position: relative;
}

.form-control {
    padding: .375rem .75rem;
}